TG_MAIN_BOT_TOKEN=
TG_ADMIN_BOT_TOKEN=
TG_ADMIN_BOT_USERNAME=
PANEL_TOKEN=
IPINFO_TOKEN=
BAN_SYSTEM_DIR=/opt/mobguard/runtime
MOBGUARD_ENV_FILE=/opt/mobguard/.env
REMNANODE_ACCESS_LOG=/var/log/remnanode/access.log
MOBGUARD_SESSION_COOKIE=mobguard_session
SESSION_COOKIE_SECURE=true
